.footer {
  padding-top: 56px;
  padding-bottom: 24px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-flex_item:nth-child(-n+4) {
  margin-right: 24px;
}

.footer-flex_item:nth-child(5) {
  margin-left: 164px;
}

.footer-flex_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-flex_item a {
  font: 16px 400 "Nunito", sans-serif;
  margin-bottom: 8px;
  text-decoration: none;
  color: #7E92B2;
  line-height: 22px;
}

.footer-flex_item_form form {
  position: relative;
}

.footer-flex_item_form button {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 29px;
  height: 29px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("../img/button.svg");
}

.footer-flex_item_title {
  font: 20px 700 "Nunito", sans-serif;
  margin-bottom: 27px;
  color: #5A6980;
  line-height: 27px;
}

.footer-flex_item_gallery {
  display: flex;
}

.footer-flex_item_gallery img {
  margin-right: 8px;
  margin-bottom: 40px;
}

.footer-flex_item_type {
  background-image: url("../img/envelope.png");
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: center;
  background-size: 12px;
  border: 1px solid #ffffff;
  width: 364px;
  border-radius: 85px;
  background-color: linear-gradient(130.17deg, rgba(255, 255, 255, 0.136) 2.38%, rgba(255, 255, 255, 0.85) 98.89%);
  padding: 9px 0;
}

.footer-flex_item_type::placeholder {
  font-family: 16px 400 "Nunito", sans-serif;
  color: #A2BDE6;
  padding-top: 8px;
  padding-left: 37px;
  padding-bottom: 8px;
  line-height: 140%;
}

.footer-flex_item_type:focus {
  outline: none;
  background-image: none;
}

.footer-flex-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #B4D2FF;
  padding-top: 24px;
}

.footer-flex-bottom_itemleft {
  display: flex;
}

.footer-flex-bottom_itemleft img {
  margin-right: 10px;
}

.footer-flex-bottom_itemleft_subtitle {
  font: 16px 400 "Nunito", sans-serif;
  line-height: 22px;
  color: #7E92B3;
  margin-right: 10px;
}

.footer-flex-bottom_itemleft_title {
  color: #6C7E99;
  font: 20px 700 "Nunito", sans-serif;
}

.footer-flex-bottom_itemright {
  display: flex;
}

.footer-flex-bottom_itemright img {
  margin-right: 8px;
}

.footer-flex-bottom_itemright_title {
  color: #6C7E99;
  font: 20px 700 "Nunito", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1, h2, h3, h6, p {
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #E5E5E5;
}
